@page "/about"

<section class="text-gray-700 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <img class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 object-cover object-center rounded pb-6" alt="hero" src="https://dev-to-uploads.s3.amazonaws.com/i/9r989xbc53vu20jk633f.png">
        <div class="text-center w-full">
            <h1 class="title-font text-3xl mb-4 font-medium text-gray-900">BlazorCosmicBlog application is built using Blazor WASM and Cosmic CMS</h1>
            <p class=" leading-relaxed">Blazor is a free and open-source web framework that enables developers to create web apps using C# and HTML.</p>
            <p class=" leading-relaxed">Cosmic is Headless CMS API and toolkit to build modern apps faster,together.</p>
            <p class=" leading-relaxed">This application uses both Blazor and Cosmic to bulid next generation apps.</p>
        </div>
    </div>
</section>

@code {

}
