<footer class="sticky text-grey-700 body-font">
    <div class="bg-gray-200">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-black-500 text-sm text-center sm:text-left">
                © 2020 BlazorCosmicBlog — Powered by <b>Blazor</b> and <b>Cosmic</b>
            </p>
        </div>
    </div>
</footer>

@code {

}
